@font-face {
  font-family: "DroidSansNerdFont";
  src: url("/assets/DroidSansMNerdFont-Regular.otf") format("opentype");
}

body {
  background-color: #1d1d1d;
  color: #cbeaa6;
  font-family: "DroidSansNerdFont";
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 5px solid #cbeaa6;
  border-radius: 10px;
  width: 17vw;
  height: 10vw;
  margin: 10px;
}

a {
  color: #cbeaa6;
}

.thumb {
  width: 20;
  height: 20;
}